# AWS S3 Configuration
AWS_ACCESS_KEY=your-access-key-here
AWS_SECRET_KEY=your-secret-key-here
AWS_REGION=ap-southeast-1
AWS_BUCKET_NAME=ucode-files

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
